@use '../../assets/vars.scss' as *;

h1 {
    margin: 0;
}

hr {
    border-color: color-mix(in srgb, $text 8%, transparent);
    width: 400px;
    margin-top: 40px;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}

body {
    margin: 0;
    padding: 0;
    min-height: fit-content;
}

main {
    font-family: noto, Arial, sans-serif;
    text-align: center;
    color: $text;
    padding: 0;
    margin: 0;
}

.learn-title {
    padding-top: 100px;
}

.character-lists {
    padding: 20px;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

a {
    text-decoration: none;
    padding: 30px;
}