:root {
    --pink: #EE7EA0;
    --green: #97b497;
    --light: #fff2f7;
    --dark: #444043;

    --correct: var(--green);
    --try-again: var(--pink);
    --background: var(--light);
    --text: var(--dark);
}

.dark-mode {
    --pink: #dc8da3;
    --green: #afbf8f;
    --correct: var(--green);
    --try-again: var(--pink);
    --background: var(--dark);
    --text: var(--light);
}

$pink: var(--pink);
$green: var(--green);
$correct: $green;
$try-again: $pink;
$light: var(--light);
$dark: var(--dark);
$background: var(--background);
$text: var(--text);