:root {
    --pink: #EE7EA0;
    --green: #97b497;
    --light: #fefefe;
    --dark: #2e2e2e;

    --correct: var(--green);
    --try-again: var(--pink);
    --background: var(--light);
    --text: var(--dark);
}

.dark-mode {
    --pink: #f7789d;
    --green: #6b8e23;
    --correct: var(--green);
    --try-again: var(--pink);
    --background: var(--dark);
    --text: var(--light);
}

$pink: var(--pink);
$green: var(--green);
$correct: $green;
$try-again: $pink;
$background: var(--background);
$text: var(--text);